<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434865111249-7e0jvia4t46ok6l1b2e1g8u0chd4ui4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434865111249-7e0jvia4t46ok6l1b2e1g8u0chd4ui4n</string>
	<key>API_KEY</key>
	<string>AIzaSyC3eLG3STw0WXqrqsnlNdIVMyBE48VJWCE</string>
	<key>GCM_SENDER_ID</key>
	<string>434865111249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.application.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cashe-register-11a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>cashe-register-11a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434865111249:ios:afb62f8c0502d29940c5f0</string>
</dict>
</plist>